@charset "utf-8";
*{
    margin: 0px;
    
}
body{
    margin: 0%;
    padding: 0%;
}

header{
    width: 98,5%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    margin: 0%;
    
    padding: 10px;
}
header > h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.966);
    font-family: 'Passion One', cursive;
    font-size: 70px;
    margin: 19px;
    font-variant: small-caps;
}
header > h2{
    text-align: center;
    font-family: 'Passion One', cursive;
    color: rgb(248, 247, 247);

}
a{
    color: rgba(255, 255, 255, 0.925);
    text-decoration: none;
}
article > p{
    min-width: 300px;
    text-align: left;
    padding: 40px;
    
    font-size: 3.5vh;
    font-family: 'Sriracha', cursive;

    margin-left: 25px;
}
article#flor{
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    max-width: 98,5%;
    display: flex;
    box-shadow: 10px 3px 21px 5px;
}
article#flor > p{
    font-size: 27px;
    color: white;
    text-align: justify;

    border: 10px rgba(0, 0, 0, 0.596);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.466);
    padding: 29px 10px 10px 12px;
    margin: 30px 38px 31px 51px;
    display: inline-block;
    width: 400px
}
article#livros{
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    max-width: 98,5%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 600px;
    max-height: 600px;
    display: flex;
    box-shadow: 10px 3px 21px 5px;

}
article#livros > p{
    font-size: 27px;
    color: rgb(255, 255, 255);

    width: 300px;

    margin: left;
    border: 10px rgba(0, 0, 0, 0.596);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.466);
    padding: 10px 10px 10px 10px;
    margin: 50px;
    margin-top: 25px;
    margin-bottom: 100px;
    display: inline-block;
    width: 350px;
    height: 380px;


}
footer{
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 0px;
    width: 98,5%;
    height: 30px;
    padding: 0px;
    margin-top: 0px;
}
